<div class="container p-5">

<%= form_with model: @trip do |form|%>
<%= form.text_field :description %>
<%= form.date_field :start_date %>
<%= form.date_field :end_date %>
<%= form.submit %>
<% end %>
</div>
