
<div class="d-flex justify-content-start">
  <div class="ml-3">
    <h1 class="mb-0"><%= @trip.name %>&nbsp;</h1>
    <p><%= @trip.description %></p>
  </div>
  <div class="d-flex mt-2 ml-2" id="date">
    <p><%= @trip.start_date %> </p>
    <p> &nbsp; to &nbsp; </p>
    <p><%= @trip.end_date %></p>
  </div>
  <div id="avatars" class="ml-3 m-2">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
  </div>
</div>
<div class="buttonContainer">
  <span>
    <a href="#" class="tab-button" data-tab-index="0">
      <i class="px-5 tab-icon far fa-lightbulb"></i>
      <span class="tab-name">Trip suggestions</span>
    </a>
  </span>
  <span>
    <a href="#" class="tab-button" data-tab-index="1">
      <i class="px-5 fas fa-route"></i>
      <span class="tab-name">Your Route</span>
    </a>
  </span>
  <span>
    <a href="#" class="tab-button" data-tab-index="2">
      <i class="px-5 fas fa-globe-europe"></i>
      <span class="tab-name">Map</span>
    </a>
  </span>
  <span>
    <a href="#" class="tab-button" data-tab-index="3">
      <i class="px-5 far fa-calendar-alt"></i>
      <span class="tab-name">Calandar</span>
    </a>
  </span>
</div>


  <div class="tabPanel">                        <!-- 1.section -->
    <div class="add-item d-flex justify-content-start">
      <button type="button" class="btn" data-toggle="modal" data-target="#trip-item-form">
        <p class="pl-5 add-item"><i class="fas fa-plus-circle"></i> &nbsp;Add a trip suggestion</p>
      </button>
    </div>
    <div class="row">

      <div class="col-5">
          <!-- LIST SECTION FOR TRIP SUGGESTIONS -->
         <%= render partial: "partial/suggestions_list" %>
      </div>
      <div class="col-5 text-dark">
        <!-- MAP SECTION FOR TRIP SUGGESTIONS -->
          <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
            <div class="container pt-5">
             <%= render partial: "map", locals: { markers: @markers } %>
           </div>
         </div>
        <p>Small map here</p>
      </div>
    </div>
  </div>


  <div class="tabPanel">                        <!-- 2.section -->
    <div class="row">
      <div class="col-5">
        <!-- LIST FOR "Your Trip" -->
        <p>list</p>


      </div>
      <div class="col-5">
        <p>map</p>


      </div>
    </div>
  </div>


  <div class="tabPanel">                         <!-- 3.section -->
    <!-- FULSCREEN MAP SECTION -->
    <h2>Map Section</h2>
  </div>

  <div class="tabPanel">                         <!-- 4.section -->
    <!-- CALANDAR SECTION -->
    <%= render partial: "map", locals: {markers: @markers} %>
    <h2>Calandar goes here</h2>
  </div>
   <!-- FOR RENDERING POPUPS -->
  <% @trip.trip_items.each do |element| %>
  <%= render partial: "partial/trip-item", locals: { element: element } %>
  <% end %>
  <%= render partial: "partial/new-trip-item", locals: {trip_item: @trip_item, trip_id: @trip} %>
