<div class="nested">

  <% @trip.trip_items.each do |element| %>
      <div class="card__collection clear-fix">
      <div class="cards cards--two">
        <a id="card-image-<%= element.id %>" href="#" data-toggle="modal" data-target="#card-trip-item-<%=element.id%>">
          <%= cl_image_tag element.photo, class:"card-image" %>

          <span class="cards--two__rect"></span>

          <p><%= element.name %> -
          <% if element.start_date %>
           <em><%= element.start_date.strftime('%a %w %B') %></em>
           <% else %>
           <em><%= element.start_date%></em>
           <% end %>
           </p>

          <ul class="cards__list">
            <li>
              <% if element.category.name =="activity"  %>
                <i class="fas fa-hiking"></i>
              <% elsif element.category.name == "transport"  %>
                <i class="fas fa-bus"></i>
              <% elsif element.category.name == "housing"  %>
                <i class="fas fa-home"></i>
              <% end %>
            </li>
            <li>
              <div class="icons-wrapper d-flex">

                <i class="fas fa-comment"></i>
                <div class="counter" id="comment-counter-<%=element.id%>"><%=element.comments.count%></div>
              </div>
            </li>
            <li>
              <div class="icons-wrapper d-flex ">

                <i class="fas fa-heart"></i>
                <div class="counter" id="like-counter-<%=element.id%>"><%=element.likes.count%></div>
              </div>
            </li>

          </ul>
        </div>
      </a>
      </div>
  <% end %>
</div>
