<div class="modal fade" id="edit-trip-item-form-<%= element.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header-trip-item-detail">

        <h5 class="modal-title" id="exampleModalLongTitle">Update your suggestion</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="add-item">
          <div class="row justify-content-center">

            </div>
              <%= simple_form_for [@trip, element], {method: :patch} do |f| %>
              <%= f.hidden_field :id, value: element.id %>
              <%= f.input :name, label: false, placeholder: "Edit the name" %>
              <%= f.input :address, label: false, placeholder: "The address of your item" %>
              <%= f.association :category, label: false, collection: Category.all, selected: [0] %>

            <div class="row trip-item-inline-row">
              <%= f.input :start_date, as: :string, input_html: {class: 'datepicker'}, label: false, placeholder: "Forgot to add a date?" %>
              <%= f.input :end_date, as: :string, input_html: {class: 'datepicker'}, label: false, placeholder: "Twice?" %>
            </div>

              <%= f.input :description, label: false, placeholder: "Update description?" %>
              <%= f.input :price, label: false, placeholder: "Update the price?" %>
              <%= f.input :link, label: false, placeholder: "New link?" %>
              <label class="btn btn-secondary">
                Update your photo
                <span style="display: none">
                <%= f.input :photo, label: false %>
                <%= f.input :photo_cache, as: :hidden %>
                </span>
              </label>
            <div class="modal-footer justify-content-center px-0">
            <%= f.button :submit, "Update", class: 'btn btn-success w-100' %>
          </div>
          <% end %>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
