<div class="modal fade" id="edit-trip-item-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit trip-suggestion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="add-item">
          <div class="row justify-content-center">
            <h1>Edit the trip suggestion.</h1>
          </div>
          <%= simple_form_for [@trip, element], {method: :patch} do |f| %>

          <%= f.hidden_field :id, value: element.id %>
          <%= f.input :name, placeholder: "The name of your item"%>
          <%= f.input :address, placeholder: "The address of your item" %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :description, placeholder: "Edit the description of your item" %>
          <%= f.input :price, placeholder: "What is the price?"%>
          <%= f.input :link, placeholder: "Add a link for more info"%>
          <%= f.association :category, as: :radio_buttons %>
          <div class="modal-footer justify-content-center">
            <%= f.button :submit, "Update", class: 'btn btn-success' %>
          </div>
          <% end %>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
