<div class="detail-item-container">
  <div class="container pt-5">
    <% @trip.trip_items.each do |element| %>
    <div class="suggestions-item-card d-flex">
      <div class="suggestions item-card-image">
        <a href="#" data-toggle="modal" data-target="#card-trip-item-<%=element.id%>">
          <%= cl_image_tag element.photo %>
        </a>
      </div>
      <div class="suggestions-card-information d-flex">
        <div class="suggestions-card-information-text">
          <h6><%= element.name %></h6>
          <p><%= element.start_date %></p>
        </div>
        <div class="comment">
          <div class="d-flex card-info-icons" >
            <div class="suggestions-item-card-information-icons-avatar">
              <%= cl_image_tag element.user.photo, class: "avatar-suggestion-item-card" %>
            </div>
            <div>
              <% if element.category.name =="activity"  %>
              <i class="fas fa-hiking"></i>
              <% elsif element.category.name == "transport"  %>
              <i class="fas fa-bus"></i>
              <% elsif element.category.name == "housing"  %>
              <i class="fas fa-home"></i>
              <% end %>
            </div>
            <div class="comments">
              <i class="fas fa-comment"></i>
              <p class="comments-counter"><%=element.comments.count%></p>
            </div>
            <div class="likes">
              <i class="fas fa-heart"></i>
              <p class="likes-counter"><%=element.likes.count%></p>
            </div>
          </div>
        </div>
        <% if @trip.user == current_user %>
          <% if element.confirmed == true%>
          <div class="route-add" >
            <a href="#" data-target="<%=element.id%>" >
            <%= link_to trip_trip_item_path(element, trip_item: { confirmed: true }), remote: true, method: :patch do %>
            <p><i id="card-add-button-<%=element.id%>" class="fas fa-plus-circle"></i></p>
          <% end %>
            </a>
          </div>
          <% else %>
          <div class="route-add" >
            <a href="#" data-target="<%=element.id%>" >
            <%= link_to trip_trip_item_path(element, trip_item: { confirmed: true }), remote: true, method: :patch do %>
            <p><i id="card-add-button-<%=element.id%>" class="fas fa-plus-circle"></i></p>
            <% end %>
            </a>
          </div>
          <% end %>
        <% end %>
          </div>
      </div>
    <% end %>
    </div>
</div>















