<div class="modal fade" id="card-trip-item-<%=element.id%>"tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header-trip-item-detail d-flex">
        <%= cl_image_tag element.user.photo, class: "avatar" %>
        <div><h5><%= element.name %></h5></div>
        <div><p>(<%= element.start_date %>)</p></div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 ml-auto">
              <div class="trip-detail-card">
                <div class="trip-detail-card-image">
                  <%= cl_image_tag element.photo %>
                  <i class="fas fa-heart"></i>
                  <p class="detail-likes-counter"><%=element.likes.count%></p>

                </div>
              </div>
              <div class="trip-detail-card-content">
                <div class="trip-detail-card-content-price d-flex">
                <div ><h5>Price: </h5></div>
                <div><p><%= element.price %></p></div>
              </div>
                <div class="trip-detail-card-content-description">
                  <h5>description:</h5>
                  <div><p><%= element.description %></p></div>
                </div>
                <div class="trip-detail-card-content-comments">
                  <h5>comments:</h5>
                  <% element.comments.each do |com| %>
                  <div><p><%= com.comment %></p></div>
                  <%= render partial: 'partial/comment_form' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
</div>

