<div class="modal fade" id="card-trip-item-<%=element.id%>"tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header-trip-item-detail d-flex">
        <%= cl_image_tag element.user.photo, class: "avatar" %>
        <% if element.link != nil %>
        <div><a href="<%= element.link %>" target = "_blank"><h5><%= element.name %></h5></a></div>
          <div><p><%= element.start_date %></p></div>
          <% else %>
        <div><h5><%= element.name %></h5></div>
        <div><p><%= element.start_date %></p></div>

        <% end %>

      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 ml-auto">
              <div class="trip-detail-card">
                <div class="trip-detail-card-image">
                  <% if element.photo.file != nil %>
                  <%= cl_image_tag element.photo %>

                  <% else %>
                 <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+1fb09a(#{element.longitude},#{element.latitude})/#{element.longitude},#{element.latitude},10,0,0/400x400@2x?access_token=#{ENV['MAPBOX_API_KEY']}"%>
                  <% end %>

                 <button type="button" class="btn"><p class="add-item"><%= link_to trip_trip_item_likes_path(@trip, element), method: :post %><i class="fas fa-heart"></i></p> </button>
                  <p class="detail-likes-counter"><%=element.likes.count%></p>

                </div>
              </div>

              <div class="trip-detail-card-content">
                <div class="trip-detail-card-content-price d-flex">
                <div ><h5>Price: </h5></div>
                <div><p><%= element.price %></p></div>
              </div>
                <div class="trip-detail-card-content-description">
                  <h5>description:</h5>
                  <div><p><%= element.description %></p></div>
                </div>
                <div class="trip-detail-card-content-comments">
                   <div>
                    <%= render 'comments/index', comments: element.comments, trip_item: element %>
                    <%= render 'comments/form', trip: @trip, trip_item: element, comment: @comment %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn" data-toggle="modal" data-target="#edit-trip-item-form">
              <p class="pl-5 add-item">Edit <i class="fas fa-pen"></i>&nbsp;</p>
            </button>
        <button type="button" class="btn"><p class="add-item"><%= link_to "Like", trip_trip_item_likes_path(@trip, element), method: :post %><i class="fas fa-heart"></i></p>
    </button>
      </div>
    </div>
  </div>
</div>
</div>

