<div class="modal fade" id="card-trip-item-<%=element.id%>"tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header-trip-item-detail d-flex">
        <%= cl_image_tag element.user.photo, class: "avatar" %>
        <% if element.link != nil %>
        <div><a href="<%= element.link %>" target = "_blank"><h5><%= element.name %></h5></a>
        </div>
        <div class="price-date-detail d-flex-column">
          <p><%= element.start_date.strftime("%-d %b %Y")%></p>
          <div>
            <p> <%= element.price %> NOK</p>
          </div>
        </div>
        <% else %>
        <div class="price-date-detail d-flex">
          <div><h5><%= element.name %></h5></div>
          <div><p><%= element.start_date.strftime("%-d %b %Y")%></p></div>
        </div>
        <% end %>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 ml-auto">
              <div class="trip-detail-card">
                <div class="divtry d-flex justify-content-start">
                  <div>
                    <a class="confirmation-link" href="#" data-target="<%=element.id%>">
                     <%= link_to trip_trip_item_path(@trip, element, trip_item: { trip_id: @trip, id: element.id,confirmed: true }), method: :patch do %>
                  <i class="fas fa-check-circle"></i>
                  <% end %>

                   </a>
                 </div>
                 <div>
                  <button type="button" class="button-edit" data-toggle="modal" data-target="#edit-trip-item-form-<%= element.id %>">
                    <%#= render partial: 'partial/edit', trip: @trip, element: element %>
                    <i class="fas fa-pen"></i>
                  </button>
                </div>
                <div>
                    <a class="add-likes" href="#" data-target="<%=element.id%>">
                     <%= link_to trip_trip_item_likes_path(@trip, element),remote: true, method: :post do %>
                  <p id="likes-trip-item-<%=element.id%>"><i class="fas fa-heart"></i><%=element.likes.count%></p>
                  <% end %>

                   </a>
                 </div>
                  <!-- <button type="button" class="btn-likes"><p class="add-likes"><%#= link_to('<i class="fas fa-heart"></i>',trip_trip_item_likes_path(@trip, element), method: :post )%></p>
                  </button> -->
              </div>
              <div class="trip-detail-card-image">
                <% if element.photo.file != nil %>
                <%= cl_image_tag element.photo %>

                <% else %>
                <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+1fb09a(#{element.longitude},#{element.latitude})/#{element.longitude},#{element.latitude},10,0,0/400x400@2x?access_token=#{ENV['MAPBOX_API_KEY']}"%>
                <% end %>

              </div>

            </div>

            <div class="trip-detail-card-content">

              <div class="trip-detail-card-content-description">
                <h5>Description: </h5>
                <div><p><%= element.description %></p></div>
              </div>
              <div class="trip-detail-card-content-comments" id="trip_<%=@trip.id%>_trip_item_<%=element.id%>">
                <div id="5comment-form-original">
                   <%= render 'comments/form', trip: @trip, trip_item: element, comment: @comment %>
                </div>

                <%= render 'comments/index', comments: element.comments, trip_item: element %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
<%= render partial: "partial/edit", locals: {element: element} %>



