
<!-- not in use (use partial/new-trip-item) -->
<div class="add-item">
  <div class="row justify-content-center">
    <h1>Add a stop on your trip!</h1>
  </div>
  <%= simple_form_for [:trip, @trip_item] do |f| %>
  <%= f.input :name, placeholder: "Add the name of your item"%>
  <%= f.input :address, placeholder: "Add the address" %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :description, placeholder: "Add a description of your item" %>
  <%= f.input :price, placeholder: "What is the price?"%>
  <%= f.input :link, placeholder: "Add a link for more info"%>
  <%= f.association :category, as: :radio_buttons %>
  <div class="row justify-content-center">
    <%= f.button :submit, "Create item", class: 'btn btn-flat' %>
  </div>
  <% end %>
</div>
